
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <!-- classes section -->
    <div class="w3l-grids-block-5 classes-bg-cont py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-style text-center mb-sm-5 mb-4">Discover the Music <span>Classes</span></h3>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="../Content/assets/images/c1.jpg" alt="" class="img-fluid" />
                            <div class="course-price-item">
                                <h6>1199</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-music"></i>Music</li>
                                    <li> <i class="fas fa-calendar-alt"></i> 15 Days</li>
                                </ul>
                            </div>
                            <h4><a href="#">Piano Classes</a></h4>
                            <p></p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-style" href="#">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="../Content/assets/images/c2.jpg" alt="" class="img-fluid" />
                            <div class="course-price-item">
                                <h6>2299</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-music"></i>Music</li>
                                    <li> <i class="fas fa-calendar-alt"></i> 15 Days</li>
                                </ul>
                            </div>
                            <h4><a href="#">Guitar Classes</a></h4>
                            <p></p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star-o" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-style" href="#">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="../Content/assets/images/c3.jpg" alt="" class="img-fluid" />
                            <div class="course-price-item">
                                <h6>3399</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-music"></i>Music</li>
                                    <li> <i class="fas fa-calendar-alt"></i> 25 Days</li>
                                </ul>
                            </div>
                            <h4><a href="packages.html">DJ Classes</a></h4>
                            <p></p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-style" href="#">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-5 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="../Content/assets/images/c4.jpg" alt="" class="img-fluid" />
                            <div class="course-price-item">
                                <h6>1199</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-music"></i>Music</li>
                                    <li> <i class="fas fa-calendar-alt"></i> 15 Days</li>
                                </ul>
                            </div>
                            <h4><a href="#">Trumpet Music</a></h4>
                            <p></p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-style" href="contact.html">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-5 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="../Content/assets/images/c5.jpg" alt="" class="img-fluid" />
                            <div class="course-price-item">
                                <h6>4499</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-music"></i>Music</li>
                                    <li> <i class="fas fa-calendar-alt"></i> 25 Days</li>
                                </ul>
                            </div>
                            <h4><a href="#">Music Band</a></h4>
                            <p></p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star-o" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-style" href="#">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="../Content/assets/images/c6.jpg" alt="" class="img-fluid" />
                            <div class="course-price-item">
                                <h6>2299</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fas fa-music"></i>Music</li>
                                    <li> <i class="fas fa-calendar-alt"></i> 35 Days</li>
                                </ul>
                            </div>
                            <h4><a href="#">Podcasts Music</a></h4>
                            <p></p>
                            <div class="top-content-border d-flex align-items-center justify-content-between mt-5 pt-4">
                                <ul class="rating-list">
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#rate">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn btn-style" href="#">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

